<nav class="navbar">
  <div class="container-fluid">
    <div class="container-fluid justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <a class="navbar-nav" href="/web/server" hx-boost="true"><i class="fas fa-arrow-left fa-lg"></i></a>
        <a class="navbar-brand ps-4">Memory History</a>
      </div>
    </div>
</nav>

<div class="container">
  <div class="card mt-4 text-center">
    <div class="card-body">
      <canvas class="mt-4" id="line-chart"></canvas>
    </div>
  </div>
  <div hx-ext="sse" sse-connect="/web/sse" hx-swap="none" sse-swap="RefreshGraph"> </div>
</div>


<script type="module">
  import {Chart, initMDB} from "/assets/js/libs/chart.es.min.js";

  initMDB({Chart})

  const graphData = {{.GraphData}}

  const options = {
    animation: false,
    plugins: {
      legend: {
        position: 'bottom',
        labels: {
          boxWidth: 10,
        },
      },
    },
    scales: {
      y: {
        ticks: {
          beginAtZaero: true,
          callback: function (value, index, values) {
            return value + " " + "GiB";
          },
        }
      },
    },
  }


  console.log(graphData)
  const chart = document.getElementById('line-chart');
  const chartInstance = new Chart(chart, graphData, options);

  function refreshGraph(data) {
    console.log('refresh')
    console.log(data.data)
    chartInstance.update(data.data)
  }

  document.body.addEventListener('htmx:sseMessage', function (e) {
    if (e.detail.type !== "RefreshGraph") {
      return
    }

    refreshGraph(JSON.parse(e.detail.data))
  })

</script>
